@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #333; /* Fallback background color */
   
    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9f9f9;
    height: 50px; /* Set a fixed height */
    padding: 10px 20px; /* Adjusted padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo { 
    display: flex;
    align-items: center;
     } 
.logo i { 
    font-size: 40px; /* Size of the icon */ 
    color: #FFFBE6; /* Color of the icon */
     margin-right: 10px; /* Space between the icon and the text */
         }

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px; /* Reduced margin between list items */
}

nav ul li a {
    color: #FFFBE6; /* #FFFBE6 for text */
    text-decoration: none;
    font-size: 20px; /* Reduced font size */
    padding: 6px 12px; /* Reduced padding */
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
}

nav ul li a:hover {
    
    border-radius: 5px;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
    font-weight: bold;
}

header h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 1.5em; /* Reduced font size */
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    padding: 20px;
}

.main-content h1 {
    font-size: 5em;
    color: rgb(249, 246, 246);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.container {
    width: 90%; /* Full width */
    min-height: 100vh; /* Full height */
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.container h1 {
    text-align: left;
    color: #f9f9f9;
}

.container p {
    text-align: justify;
    font-size: 16px;
    color: #ffffff;
}

/* Parallax effect 
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
*/
.center-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}