body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('1.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(52, 121, 40, 0.8); /* #347928 with transparency */
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.logo img {
    height: 70px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #FFFBE6; /* #FFFBE6 for text */
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
}

nav ul li a:hover {
    background-color: #C0EBA6; /* #C0EBA6 for hover background */
    border-radius: 5px;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
    font-weight: bold;
}

header h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 2.5em;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjust height based on header size */
}

.main-content h1 {
    font-size: 5em;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
